body {
    background-color:#3C0000;
    color:#FFF;
    font-family: Palatino,Georgia,Times;
}
A:link    { color:#FF6; }
A:visited { color:#DD8; }
A:active  { color:#FF0; }

.pagecontents {
    color : #B88;
}
.pagecontents {
    margin : 0em 1em .8em 1.8cm;
    padding-left : 0cm;
}
.pagecontents li {
    margin : 0em 1em .3em 0cm;
    padding : 0cm 0cm 0cm 0cm;
    font-family : Verdana,Geneva,Helvetica;
    font-weight : bold;
}
.pagecontents li ul {
    margin : .4em 1em .4em 0.6cm;
    padding-left : 0cm;
    list-style-type : circle;
}
.pagecontents A, .pagecontents A:link, .pagecontents A:visited {
    color : #FFF;
    text-decoration : none;
}


h1 {
    background-color:#C00;
    color:#FFF;
    margin  : 0cm 0cm 0cm 0cm;
    padding : .14cm .14cm .14cm .4cm;
    border-style : solid;
    border-color : #000;
    border-width : 2px 2px 0px 2px;
    font-family : Baskerville,Georgia,Palatino,Times,Times New Roman;
    font-size:2.4em;
    font-weigth:bold;
}
h2 {
    background-color:#A00;
    color:#FFF;
    padding : .14cm .14cm .14cm .7cm;
    border-style : solid;
    border-color : #000;
    border-width : 1px;
    font-family : Verdana,Geneva,Helvetica;
    font-size:1.6em;
    font-weigth:bold;
}
h3 {
    background-color : #800;
    color : #FFF;
    padding : .14cm .14cm .14cm 0.9cm;
    border-style : solid;
    border-color : #000;
    border-width : 1px;
    font-family : Verdana,Geneva,Helvetica;
    font-size   : 1.2em;
    font-weigth : bold;
}
h4 {
    background-color : #600;
    color : #FFF;
    padding : .14cm .14cm .14cm 1.1cm;
    border : 2px 1px;
    border-style : solid;
    border-color : #000;
    border-width : 1px;
    font-family : Verdana,Geneva,Helvetica;
    font-size   : 1em;
    font-weigth : bold;
}
.tagline {
    float : right;
    text-align : right;
    width : 60%;
    color : #EEE;
    margin : 0.8em;
    font-size : 0.5em;
    font-weight : normal;
    font-style : italic;
}

p {
    margin : 0em .8cm .8em 1.2cm;
}
ul {
    margin : 0em 0cm .8em 2cm;
    padding-left : 0cm;
}
li {
    margin : 0em .4cm .3em 0cm;
}
.compact li {
    margin : 0em .4cm 0em 0cm;
}
pre {
    margin : 0em 2cm .6em 2.2cm;
    padding : .3cm .3cm .3cm .3cm;
    font-family : Verdana,Monaco,Courier,Courier New;
    font-size : 11px;
    color : #DDD;
    background : #001;
}
.comment {
    color : #66B;
    font-style : italic;
    font-weight : normal;
}

.navbar {
    color : #866;
    background : #000;
    margin : 0px 0px 4px 0px;
    padding : 4px 4px 4px .4cm;
    font-family : Verdana,Geneva,Helvetica;
    font-weight : bold;
    font-size : 10px;
}
.navbar A, .navbar A:link, .navbar A:visited {
    color : #FFF;
    text-decoration : none;
    padding : 0em .2em 0em .2em;
}
.navbar .next {
    color : #999;
    padding : 0em .1em 0em .2em;
}
.footer {
    margin-top : .6cm;
    margin-bottom : .4cm;
}

.next {
    padding : .3cm .3cm .3cm .3cm;
    color : #999;
    font-family : Verdana,Geneva,Helvetica;
    font-weight : bold;
    font-size : 0.9em;
    text-align : right;
}
.navbar A, .navbar A:link, .navbar A:visited {
    color : #FFF;
    text-decoration : none;
}

.example-table {
    margin : 1em 1cm 1em 1cm;
    padding : 0em 0em 0em 0em;
    background : #080;
    border-color : #000;
    border-style : solid;
    border-width : 0px 1px 1px 1px;
}
.example-table th {
    color : #FFF;
    background : #700;
    margin : 0px 0px 4px 0px;
    padding : 4px 4px 4px .4cm;
    font-family : Verdana,Geneva,Helvetica;
    font-weight : bold;
    font-size : 10px;
    text-align : left;
    border-color : #000;
    border-style : solid;
    border-width : 1px 0px 1px 0px;
}
.example-table td {
    border-color : #005;
    border-style : solid;
    border-width : 0px 0px 1px 0px;
    margin : 0em 2cm .6em 2.2cm;
    padding : .3cm .3cm .3cm .3cm;
    font-family : Verdana,Monaco,Courier,Courier New;
    font-size : 11px;
    color : #FFF;
    background : #001;
}
.example-table .example {
    font-weight : bold;
    color : #DDD;
    background : #003;
}
.example-table p {
    margin : 0.6em 0em 0em 0cm;
}
.example-table code {
    font-size : 11px;
}

.example-nav {
    font-family : Verdana,Monaco,Courier,Courier New;
    font-size : 11px;
    list-style-type : circle;
}
.example-nav li {
    margin : 0em 0em .3em 0cm;
}

.moreinfo {
    font-family : Verdana,Geneva,Helvetica;
    font-size : 9px;
    color : #888;
}
.moreinfo a, .moreinfo A:link, .moreinfo A:visited {
    font-weight : bold;
}


